<footer class="site">
  <div class="wrap">
    <div>
      <img class="flogo" src="/assets/logo-white.png" alt="{{ site.name }} at {{ site.brokerage }}" />
    </div>
    <p class="legal">
      {{ site.name }} at {{ site.brokerage }} &middot; {{ site.advisor.short }}, CA DRE #{{ site.advisor.dre }}.
      {{ site.address.street }}, {{ site.address.locality }}, {{ site.address.region }} {{ site.address.postal }} &middot; serving all of {{ site.city }}. Equal Housing Opportunity.
      Information deemed reliable but not guaranteed. Nothing on this site is tax or legal advice.
      &copy; {{ site.year }} {{ site.name }}. All rights reserved.
    </p>
  </div>
</footer>
